<div id="account">
  <% if current_user %>
    <span>Welcome, <%= current_user %>!</span>
    <%= link_to "logout", logout_path %>
  <% else %>
    Login with:
    <%= link_to "Twitter", login_twitter_path %>
    <%= link_to "Github", login_github_path %>
  <% end %>
  <hr/>
  <%= link_to "Current Cart", cart_path %><br/>
  <%= link_to "Your Orders", orders_path %><br/>
  <%= link_to "Manage Addresses", addresses_path %><br/>
</div>