<h1>Your Order</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.customer_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |order_item| %> 
    <tr>
      <td><%= product_image(order_item.product.image_url) %></td>
      <td><%= order_item.product.title %></td>
      <td><%= order_item.quantity %></td>
      <td><%= print_price order_item.product.price %></td>
      <td><%= print_price order_item.subtotal %></td>
    </tr>
  <% end %>
  
  <tr>
    <th>Order Total:</th>
    <td><%= print_price @order.total %></td>
  </tr>
</table>
